* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Noto Sans TC', sans-serif;
    color: var(--black);
}

:root {
    --white: #fff;
    --black: #000;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900 &display=swap');


@media screen and (max-width: 576px) {
    * {
        font-size: 12px;
    }
}

@media screen and (max-width: 1068px) {
    * {
        font-size: 14px;
    }
}

body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /*隱藏scroll bar*/
}

body::-webkit-scrollbar {
    display: none;
    /*chrome 隱藏scroll bar*/
}


input:focus,
button:focus {
    outline: none;
}

div {
    display: block;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 6.25rem
}

p {
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 180%;
    margin-bottom: 3rem;
}

.none {
    display: none;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1280px;
}

.externalLinks {
    display: inline-block;
    font-size: 1.875rem;
    margin-top: 2rem;
    padding: 2rem;
    font-weight: 500;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    box-sizing: border-box;
}

.externalLinks:hover {
    color: rgb(0, 0, 0, .6);
    font-weight: 500;
}

.externalLinks:active {
    color: rgb(0, 0, 0, .4);
}

.nextPage {
    display: inline-block;
    font-size: 1.875rem;
    margin-top: 3rem;
    width: 100%;
    font-weight: 700;
    text-align: center !important;
    padding: 2rem !important;
    /* border: 3px solid var(--black); */
    box-sizing: border-box;
    background-color: rgb(0, 0, 0, .2);
    transition: all .3s;
}

.nextPage:hover {
    background-color: rgb(0, 0, 0, .1);
}

.nextPage:active {
    background-color: rgb(0, 0, 0, .4);
}

img {
    -webkit-filter: grayscale(100%);
}