* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Noto Sans TC', sans-serif;
}

input:focus,
button:focus {
    outline: none;
}

div {
    display: block;
}

.none {
    display: none;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1280px;
}

:root {
    --navy-blue: #2066A6;
    --light-blue: #EAF5FF;
    --yellow: #FFE39D;
    --gray: #979797;
    --black: #4a4a4a;
    --gray-border: rgb(151, 151, 151, .4);
    --green: #17ae74;
    --red: #df2d2d;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap');


@media screen and (max-width: 576px){
    *{
        font-size: 12px;
    }
}

@media screen and (max-width: 1068px){
    *{
        font-size: 14px;
    }
}
