* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Noto Sans TC', sans-serif;
    color: var(--black);
}

:root {
    --white: #fff;
    --black: #000;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap');


@media screen and (max-width: 576px) {
    * {
        font-size: 12px;
    }
}

@media screen and (max-width: 1068px) {
    * {
        font-size: 14px;
    }
}


input:focus,
button:focus {
    outline: none;
}

div {
    display: block;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 6.25rem
}

p {
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 180%;
}

.none {
    display: none;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1280px;
}

.externalLinks {
    display: inline-block;
    font-size: 1.875rem;
    margin-top: 2rem;
    padding: 2rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    box-sizing: border-box;
}

.nextPage {
    display: inline-block;
    font-size: 1.875rem;
    margin-top: 3rem;
    width: 100%;
    font-weight: 700;
    text-align: center !important;
    padding: 2rem;
    border: 3px solid var(--black);
    box-sizing: border-box;
}