.homeContent {
    display: flex;
    margin: 0 auto;
}

.homeContainer {
    width: 60%;
    justify-content: flex-start;
    /* background-color: #ccc; 要做半透明白色*/
    background-color: rgb(255, 255, 255, .7);
    overflow: auto;
    height: 100vh;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /*隱藏scroll bar*/
}

.homeContainer::-webkit-scrollbar {
    display: none;
    /*chrome 隱藏scroll bar*/
}

.videoContainer {
    width: 40%;
    height: 100vh;
    justify-content: flex-end;
    background-color: #ddd;
}

.insideContent {
    padding: 6.2rem 6rem 0 6rem;
}

@media (max-width: 682px) {
    .videoContainer {
        position: absolute;
        z-index: -1;
        width: 100%;
    }

    .homeContainer {
        width: 100%;
        justify-content: flex-start;
        overflow: auto;
        height: 100vh;
    }

    .insideContent {
        padding: 7rem 1.5rem 0 1.5rem;
    }
}

@media screen and (max-width: 1068px) {
    .insideContent {
        padding: 7rem 1.5rem 0 1.5rem;
    }
}