.mainPageTitle {
    text-align: center;
    line-height: 90vh;
}

.mainPageTitle h1 {
    display: inline-block;
    height: 95vh;
    font-size: 3.325rem;
}

.mainPageArticle {
    margin-bottom: 10rem;
}

.mainPageExhibition {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10rem;
}

.mainPageExhibition a {
    display: inline-block;
    width: 20rem;
    margin-bottom: 3.125rem;
    margin-right: 2rem;
}

.exhibitionPhoto {
    width: 100%;
    overflow: hidden;
}

.exhibitionPhoto img {
    display: block;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    transition: .5s ease-in-out;
}

.mainPageExhibition a:hover img {
    transform: scale(1.2);
}

.mainPageExhibition a h3 {
    font-size: 1.6rem;
}

@media screen and (max-width: 1152px) {
    .mainPageExhibition a {
        width: 100%;
        margin-right: 0;
    }
}