.nav {
    width: 65%;
    background-color: rgb(255, 255, 255);
    margin: 0;
    position: fixed;
    justify-content: space-between;
    display: flex;
    z-index: 100;
}

.nav-options {
    padding-left: 4rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 50px;
    list-style-type: none;
}

.nav ul li {
    position: relative;
}

.nav ul li a {
    display: inline-block;
    padding: 2.25rem;
    font-weight: 500;
    font-size: 1rem;
    white-space: nowrap;
    transition: background-color .3s ease-in-out;
}

.nav ul li:hover a {
    background-color: #f2f2f2;
}

.nav ul li:active a {
    background-color: #ccc;
}

.navLogo {
    transition: background-color .3s ease-in-out;
}

.navLogo:hover {
    background-color: #f2f2f2;
}

.navLogo:active {
    background-color: #ccc;
}

.navLogo p {
    display: inline-block;
    text-align: left;
    font-weight: 700;
    font-size: 1rem;
    white-space: nowrap;
    padding: 1.2rem 1.2rem 1rem 1rem;
    margin-bottom: 0;
}

.burgerIcon {
    display: none;
    padding: 2.25rem;
}


label {
    font-size: 1.5rem;
    line-height: 2.5rem;
}



@media screen and (max-width: 682px) {
    .nav {
        width: 100%;
        background-color: rgba(255, 255, 255, 1)
    }

}

@media screen and (max-width: 938px) {


    .burgerIcon {
        display: inline-block;
    }

    .nav-options {
        display: flex;
        width: 100%;
        height: 260px;
        position: absolute;
        top: 89px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
        flex-direction: column;
        list-style-type: none;
        grid-gap: 0px;
        background-color: rgba(255, 255, 255, 1);
    }

    .nav-options.active {
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        align-content: center;
        padding-left: 0px;
    }

    .nav ul li {
        text-align: center;
    }


}