.nav {
    width: 60%;
    background-color: rgb(255, 255, 255);
    margin: 0;
    position: fixed;
    justify-content: space-between;
    display: flex;
}

.menu {
    display: flex;
    padding-left: 4rem;
}

.nav ul li {
    position: relative;
}

.nav ul li a {
    display: inline-block;
    padding: 2.25rem;
    font-weight: 500;
    font-size: 1rem;
    white-space: nowrap;
    transition: background-color .3s ease-in-out;
}

.nav ul li:hover a {
    background-color: #f2f2f2;
}

.nav ul li:active a {
    background-color: #ccc;
}

.navLogo p {
    display: inline-block;
    text-align: left;
    font-weight: 700;
    font-size: 1rem;
    white-space: nowrap;
    padding: 1.5rem;
}

.burgerIcon {
    display: none;
    padding: 1.5rem;
}

label {
    font-size: 1.5rem;
    line-height: 2.5rem;
}

#burger:checked~.burgerIcon {
    color: #fff;
}

#burger:checked+.navContent {
    display: block;
    width: 100%;
    position: absolute;
    top: 5.8rem;
}

#burger {
    display: none;
}

@media screen and (max-width: 682px) {
    .nav {
        width: 100%;
        background-color: #F5F5F5;
    }

    .nav ul li {
        color: #000;
        background-color: transparent;
    }
}

@media screen and (max-width: 938px) {
    .navContent {
        display: none;
    }

    .burgerIcon {
        display: inline-block;
    }

    .nav ul li:first-child {
        padding-left: 2.25rem;
    }
}

@media screen and (min-width: 938px) {

    #burger:checked+.navContent {
        top: 0rem;
        padding: 0 12.25rem;

    }


}